{% extends "base.html" %}

{% block content %}
{% include 'navbar.html' %}
<div id="loading-overlay" class="hidden fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-50">
   
    <div  role="status" class="bg-white bg-opacity-50 rounded-lg p-4 shadow-lg flex justify-center items-center">
        <svg aria-hidden="true" class="w-10 h-10  text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
        </svg>
    </div>
</div>
<div class=" hidden md:flex fixed right-0 top-0 h-screen w-3/4 bg-blue-700 -z-20" style="clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 80% 0%);">
</div>

<div id="modal-container" onclick="closeAddModal()" class="relative hidden fixed top-0 right-0 z-20 w-full h-screen flex  relative">
    <form id="form" onclick="handleApapun(event)" class=" z-30  my-auto mx-auto flex flex-col min-h-min bg-slate-950 px-4 py-2 rounded-md text-white max-w-[95%] min-w-[18rem] md:w-[28rem] w-[24rem]" autocomplete="off" method="post">
        {% csrf_token %}
        <div class="mb-4">
            <label for="name" class="block text-white text-sm  mb-2">Nama Produk</label>
            <input autocomplete="off" required type="text" name="name"  class=" bg-slate-800 focus:border  text-white  text-sm rounded-xs focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Masukkan nama kamu" id="username">
        </div>
        <div class="mb-4">
            <label for="price" class="block text-white text-sm mb-2">Harga Produk</label>
            <input
                required
                type="number"
                id="price"
                name="price"
                min="1"
                step="1"
                placeholder="Tuliskan harga produk"
                class="bg-slate-800 focus:border  text-white  text-sm rounded-xs focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            >
        </div>
        <div class="mb-4">
            <label for="description" class=" text-white mb-2 mt-2 text-sm">Deskripsi</label>
            <textarea row="8" required id="description" for="description"name="description" class="bg-slate-800 focus:border  text-white  text-sm rounded-xs focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" type="text" placeholder="Deskripsi tentang produk"></textarea>
        </div>
        
        <div class="mb-4 mt-auto">
            <hr class=" border-2 rounded-md border-[#00A8FF]">
        </div>
        <div class="mb-2 w-full   text-sm flex">
            <button onclick="addProduct()" class="ml-auto px-4 py-2 bg-[#00A8FF] text-black hover:text-white hover:bg-blue-900 rounded-sm"type="submit">Tambah Produk</button>
        </div>
    </form>
</div>

<div id="edit-modal-container" onclick="closeEditModal()" class="relative hidden fixed top-0 right-0 z-20 w-full h-screen flex  relative">
    <form id="edit-form" onclick="handleApapun(event)" class=" z-30  my-auto mx-auto flex flex-col min-h-min bg-slate-950 px-4 py-2 rounded-md text-white max-w-[95%] min-w-[18rem] md:w-[28rem] w-[24rem]" autocomplete="off" method="post">
        {% csrf_token %}
        <div class="mb-4">
            <label for="name" class="block text-white text-sm  mb-2">Nama Produk</label>
            <input autocomplete="off" required type="text" name="name"  class=" bg-slate-800 focus:border  text-white  text-sm rounded-xs focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Masukkan nama kamu" id="username">
        </div>
        <div class="mb-4">
            <label for="price" class="block text-white text-sm mb-2">Harga Produk</label>
            <input
                required
                type="number"
                id="price"
                name="price"
                min="1"
                step="1"
                placeholder="Tuliskan harga produk"
                class="bg-slate-800 focus:border  text-white  text-sm rounded-xs focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            >
        </div>
        <div class="mb-4">
            <label for="description" class=" text-white mb-2 mt-2 text-sm">Deskripsi</label>
            <textarea row="8" required id="description" for="description"name="description" class="bg-slate-800 focus:border  text-white  text-sm rounded-xs focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" type="text" placeholder="Deskripsi tentang produk"></textarea>
        </div>
        
        <div class="mb-4 mt-auto">
            <hr class=" border-2 rounded-md border-[#00A8FF]">
        </div>
        <div class="mb-2 w-full   text-sm flex">
            <button onclick="submitEditProduct(event)" class="ml-auto px-4 py-2 bg-[#00A8FF] text-black hover:text-white hover:bg-blue-900 rounded-sm"type="submit">Edit Produk</button>
        </div>
    </form>
</div>

<div class="min-w-screen xbg-yellow-300 flex flex-col items-center z-10 mt-20 lg:mt-24 ">
    <div class=" px-4 w-full ">
        <div class="w-full  flex">
            <h1 class="mx-auto font-mono text-xl font-bold md:text-2xl lg:text-4xl text-[#00A8FF] mb-4">Daftar Belanja Kamu</h1>
        </div>
        <div class="w-full  flex">
            <h1 class="mx-auto font-mono text-sm font-bold  text-[#00A8FF] mb-4">Terakhir login: {{last_login}}</h1>
        </div>
        <div class="flex w-full bg-slate-950 flex-wrap rounded-t-md  px-2 py-1 justify-between py-2 md:text-base text-xs text-white">
            <div class="flex flex-col md:flex-row justify-start md:items-center md:space-x-4">
                <h1>Name: <span class="text-[#00A8FF]">{{name}}</span></h1>
                <h1>Class: <span class="text-[#00A8FF]">{{class}}</span> </h1>
            </div>
            <div class="ml-2">
                <button onclick="openAddModal()" class="px-2 py-1 rounded-md bg-slate-800 hover:bg-slate-800"><a >Tambah Produk Baru</a></button>
            </div>
        </div>
    </div>
    <div class="w-full overflow-x-auto">
        <table class=" mx-4 bg-slate-800 lg:min-w-5xl flex flex-col ">
            <thead class="bg-slate-700 w-full">
            <tr class="w-full  flex text-[#00A8FF] items-stretch md:text-base text-xs uppercase break-words ">
                <th class="min-w-[30%] w-[30%]  text-left pl-2 border-r-2 border-slate-600">Name</th>
                <th class="min-w-[15%] w-[15%] text-left pl-2 border-r-2 border-slate-600">Price</th>
                <th class="flex-grow  text-left pl-2 border-r-2 border-slate-600">Description</th>
                <th class="min-w-[15%] w-[15%] border-r-2 text-left pl-2 border-slate-600">Date Added</th>
                <th class="min-w-[15%] w-[15%] text-left pl-2 ">Operation</th>
            </tr>
            </thead>
        
            {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
            <tbody id="table-body" class=" w-full ">
            
            {% if not products %}
                <tr class="w-full py-4 bg-slate-800 flex items-center justify-center min-h-[12rem] lg:text-base md:text-sm text-xs text-white">
                    <td>
                        <h1>
                            Keranjang belanja Anda masih kosong. Silahkan menambahkan
                        </h1>
                    </td>
                </tr>
            {% else %}
            
            {% endif %}
                
            
            </tbody>
        </table>
    </div>
    <div class="mt-4 flex flex-col  text-white w-full max-w-[98%] mx-auto">
        <table id="product_table" class=" flex flex-col w-full bg-slate-950"></table>
    </div>
</div>
<br />

<script>
    const closeAddModal = async ()=>{
        const ele = document.getElementById("modal-container");
        ele.style.display = "none" // buat menghilang
    }
    const handleApapun = async (event)=>{
        console.log('fungsi handle apapun ditekan')
        event.stopPropagation();
    }
    const openAddModal = async ()=>{
        const ele = document.getElementById("modal-container");
        ele.style.display = "flex" 
    }

    let productIdToEdit = null;
    const loadProductForEdit = async (productId) =>{
        productIdToEdit = productId;
        const loading =  document.getElementById('loading-overlay');
        const editForm = document.getElementById('edit-form');
        loading.style.display = 'flex';
        try {
            const res = await fetch(`get-product-ajax/${productId}`);
            const data = await res.json();
            console.log("RES-> ", data)
            editForm.querySelector('input[name="name"]').value = data.name;
            editForm.querySelector('input[name="price"]').value = data.price;
            editForm.querySelector('textarea[name="description"]').value = data.description;
            openEditModal()
            loading.style.display = 'none';
        } catch (error) {
            console.log(error)
            loading.style.display = 'none';
        }
    }
    const submitEditProduct = async (event) => {
        event.preventDefault()
        const productId = productIdToEdit;
        const loading =  document.getElementById('loading-overlay');
        const editForm = document.getElementById('edit-form');
        if(!productId){
            alert("Tidak ada id yang ditetapkan")
            return;
        }
        try {
            loading.style.display = 'flex';
            const name = editForm.querySelector('input[name="name"]').value;
            const price = editForm.querySelector('input[name="price"]').value;
            const description = editForm.querySelector('textarea[name="description"]').value;
            const data = {
                id:productId,
                name:name,
                price:price,
                description:description
            }
            const res = await fetch("/edit-product-ajax/", {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                "Content-Type": "application/json"
                },
            })
            const resData = await res.json()
            refreshProducts()
        } catch (error) {
            console.log(error)
        }
        loading.style.display = 'none';
        closeEditModal()
    }


    const closeEditModal = async () =>{
        console.log("fungsi close edit modal dipanggil")
        const ele = document.getElementById("edit-modal-container");
        ele.style.display = "none"
    }
    const openEditModal = async () =>{
        const ele = document.getElementById("edit-modal-container");
        ele.style.display = "flex"
    }


    async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }
    async function refreshProducts() {
        document.getElementById("product_table").innerHTML = ""
        const products = await getProducts()
        let htmlString = ``
        products.forEach((item) => {
            htmlString+= `\n <tr class="odd:bg-slate-800 even:bg-teal-900 flex items-stretch  flex text-blue-400 items-center lg:text-base md:text-sm text-xs" >
                <td class="min-w-[30%] w-[30%] py-auto my-2  text-justify px-2 ">${item.fields.name}</td>
                <td class="min-w-[15%] w-[15%] text-justify my-2 px-2 ">${item.fields.price}</td>
                <td class="flex-grow  text-justify px-2  my-2 ">${item.fields.description}</td>
                <td class="min-w-[15%] w-[15%] text-justify px-2 my-2  ">${item.fields.date_added}</td>
                <td class="min-w-[15%] w-[15%] text-justify my-2 px-2 ">
                    <div class="flex  flex-col lg:flex-row items-start lg:items-center lg:space-x-4 space-y-4 lg:space-y-0">
                        <button onclick="loadProductForEdit(${item.pk})"  class=" max-w-full bg-slate-900 hover:bg-blue-900 text-white font-semibold py-2 px-4 rounded-md flex justify-center items-center">
                            <h1 class="text-xs" >Edit</h1>
                        </button>
                        <button  onclick="deleteProduct(${item.pk})"  class=" max-w-full bg-red-700  hover:bg-red-500 text-white font-semibold py-2 px-4 rounded-md flex justify-center items-center">
                            <h1 class="text-xs" >Delete</h1>
                        </button>
                    </div>
                </td>
            </tr>`
        })
        
        document.getElementById("table-body").innerHTML = htmlString
    }
    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)
        document.getElementById("form").reset()
        closeAddModal()
        return false
    }

    const deleteProduct = async (id) =>{
        console.log(id)
        const res = await fetch("{% url 'main:delete_product_ajax' %}",
        {
            method: "POST",
            credentials: "same-origin",
            body:JSON.stringify({ id: id }),
            headers: {
                'Content-Type': 'application/json'
            }
        })
        refreshProducts()
        const data = await res.json()
        console.log(data)
        return false
    }

    refreshProducts()
</script>
{% endblock content %}
    
