<nav class="text-white pl-4 pr-6 fixed top-0 left-0 w-screen py-3 bg-slate-950  flex items-center justify-between">
 <h1 class=" my-1 text-2xl font-bold text-[#00A8FF]">Shopping List</h1>
 <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 md:hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
</svg>
<div class="hidden md:flex">
    <a onclick="onSubmit()" href="/logout" class="ml-auto px-4 py-2 bg-[#00A8FF] text-black hover:text-white hover:bg-blue-900 font-bold rounded-sm"type="submit">Logout</a>
</div>

</nav>